
/* frameset behaviour */
html, body, .frame {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background-color: #cccccc;
}

.dashboard {
    display: flex;
}

.bar-right {
    width: 400px;
    background-color: #888888;
}

.section-list {
    overflow-y: scroll;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #555555;
    color: #cccccc;
    font-weight: bold;
}

.section-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.slide-thumb {
    width: 300px;
    height: 200px;
    border: solid black 2px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
}

.slide-thumb:hover {
    cursor: pointer;
}

.slide-thumb-content {
    white-space-collapse: preserve;
    text-indent: 2em hanging each-line;
}

.output-link {
    border: solid #cccccc; 2px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
