
:root {
    /* allows light-dark(...) to work, in browsers since May 2024 */
    color-scheme: light dark;
}

/* frameset behaviour */
html, body, .frame {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background-color: light-dark(#cccccc, #333333);
}

.dashboard {
    display: flex;
}

.bar-left {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: light-dark(#ffffff, #000000);
    color: light-dark(#000000, #ffffff);
}

.bar-left p {
    font-size: 10pt;
    margin: 6px;
}

.bar-left p img {
    scale: 80%;
    vertical-align: middle;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

.bar-right {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #888888;
}

.section-list {
    flex-grow: 1;
    min-width: 0;
    overflow-y: scroll;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #555555;
    color: #cccccc;
    font-weight: bold;
}

.section-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.slide-thumb {
    width: 300px;
    height: 200px;
    border: solid 3px #555555;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: light-dark(#000000, #ffffff);
    background-color: light-dark(#ffffff, #000000);
}

.slide-thumb:hover {
    cursor: pointer;
}

.slide-thumb-content {
    white-space-collapse: preserve;
    /* text-indent: 2em hanging each-line; */
}

.output-link {
    border: solid #cccccc; 2px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.action-button {
    cursor: pointer;
    border: solid #cccccc; 2px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
