
body {
    font-family: sans-serif;
    background-color: #cccccc;
}

.section-body {
    display: flex;
    flex-wrap: wrap;
}

.slide-thumb {
    width: 300px;
    height: 200px;
    border: solid black 2px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
}

.slide-thumb:hover {
    cursor: pointer;
}

.slide-thumb-content {
    white-space-collapse: preserve;
    text-indent: 2em hanging each-line;
}
