html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #222222;
}
.slide {
    height: 100%;
    display: flex;
    justify-content: center;
}
.slide-content {
    display: flex;
    align-self: center;
    white-space-collapse: preserve;
    color: #dddddd;
    font-family: sans-serif;
    font-size: 45px;
}
