html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    background-color: var(--bg-colour);
}
.slide {
    height: 100%;
    display: flex;
    justify-content: center;
}
.slide-content {
    display: flex;
    align-self: center;
    white-space-collapse: preserve;
    color: var(--colour);
    font-family: sans-serif;
    font-size: 45px;
}
