html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    background-color: var(--bg-colour);
}
.slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    justify-content: center;
}
.slide-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-content {
    white-space-collapse: preserve;
    color: var(--text-colour);
    font-family: sans-serif;
    font-size: var(--text-size);
    text-indent: 2em hanging each-line;
}
.slide-footer {
    display: flex;
    align-self: center;
    white-space-collapse: preserve;
    color: var(--text-colour);
    font-family: sans-serif;
    font-size: var(--text-size);
}
