@font-face {
    font-family: "GentiumBook";
    src: url("./GenBkBasR.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "GentiumBook";
    src: url("./GenBkBasI.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "GentiumBook";
    src: url("./GenBkBasB.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "GentiumBook";
    src: url("./GenBkBasBI.woff2");
    font-weight: bold;
    font-style: italic;
    font-display: block;
}
html {
    height: 100%;
    overflow: hidden;
    margin: 0px;
}
body {
    height: 100%;
    background-color: var(--bg-colour);
    margin: 0px;
}
.slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    justify-content: center;
}
.slide-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-content {
    /* white-space-collapse: preserve; */
    font-size: var(--text-size);
    text-indent: 2em hanging each-line;
}
.slide-footer {
    display: flex;
    white-space-collapse: preserve;
    color: var(--footer-colour);
    font-family: sans-serif;
    font-size: var(--footer-size);
    margin: 40px;
}
.stanza {
    white-space-collapse: preserve;
}
.by-congregation {
    color: var(--text-colour);
    font-family: "GentiumBook", sans-serif;
}
.by-leader {
    color: yellow;
    font-family: sans-serif;
    font-style: italic;
}
